cmake-build-debug/percent
cmake-build-debug/CMakeFiles/percent.dir/CXX.includecache
cmake-build-debug/CMakeFiles/percent.dir/depend.internal
cmake-build-debug/CMakeFiles/percent.dir/depend.make
cmake-build-debug/CMakeFiles/percent.dir/main.cpp.o
